body {
  height: 100vh;
  margin: 0;

  background:
  linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
  linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;

}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #E5E7EB;
}

li {
  padding-right: 16px;
}

a {
  text-decoration: none;
  color: #F9FAF8;
}

footer {
  background-color: #1F2937;
  color: #F9FAF8;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding:0 50px;

  display: flex;
  flex-direction: column;
}

.hero {
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 350px;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.heroimg {
  flex: 0.15 1 300px;
  height: 75%;
  width: 300px;
}

.hero button {
  border:#3882F6 solid 2px;
  border-radius: 7px;
  background-color: #3882F6;
  color: #F9FAF8;
  width: 150px;
  height: 30px;
  font-weight: bold;
}

.hero button:hover {
  background-color: #3881f675;
}

.hero button:active {
  border: #3881f675 solid 2px;
}

.herodiv {
  display: flex;
  flex-flow: wrap column;
  height: 300px;
  width: 500px;
}

.heromaintext {
  font-size: 48px;
  font-weight: 900;
  padding-bottom: 0;
  margin-bottom: 0;
}

.herosecondarytext {
  font-size: 18px;
  color: #E5E7EB;
  margin-top: 4px;
  margin-bottom: 8px;
}

.headerlogotext {
  margin-right: 72px;
  font-size: 24px;
  color: #F9FAF8;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 250px;
  background-color: #F9FAF8;
  color: #1F2937;
}

.imgcap {
  margin-top: 2px;
  font-size: 11px;
}

.infoheadertext {
  flex: 1 0 auto;
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

.infoimg {
  height: 100px;
  width: 100px;
  border: solid #3882F6 3px;
  border-radius: 5px;
}

.imgcard {
  text-align: center;
  width: 100px;
  height: 250px;
}

.infodiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 600px;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 250px;
  background-color: #E5E7EB;
  color: #1F2937;
}

.quotediv {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.quotetext {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 5px;
}

.quoteauthor {
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
  align-self: flex-end;
}

.call-to-action {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 250px;
  background-color: #F9FAF8;
}

.call-to-action-div {
  display: flex;
  flex: 1;
  min-width: 700px;
  align-items: center;
  justify-content: center;
}

.calltextmain {
  font-size: 18px;
  font-weight: bold;
  color: #F9FAF8;
  margin: 0;
}

.calltextsecond {
  font-size: 12px;
  font-weight: lighter;
  color: #E5E7EB;
  margin: 0;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 700px;
  border-radius: 7px;
  background-color: #2882F6;
  color: #F9FAF8;
  height: 100px;
}

.banner button {
  border:#F9FAF8 solid 2px;
  border-radius: 7px;
  background-color: #3882F6;
  color: #F9FAF8;
  width: 150px;
  height: 30px;
  font-weight: bold;
}

.banner button:hover {
  background-color:#0c66f6;
}

.banner button:active {
  border: #E5E7EB solid 2px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 75px;
}